<html>
<head>
    <title>Hello Facebook</title>
</head>
<body>
<h3>Connected to Facebook</h3>

<p>
    You are now connected to your Facebook account.<br/>
    Click <a href="/">here</a> to see some entries from your Facebook feed.<br/>
    Click <a href="/redirect">here</a> to redirect.<br/>
    Click <a href="/hello">here</a> to hello.<br/>
</p>

<p>If you would like to disconnect your Facebook account click this button:</p>

<form name="facebook" action="/connect/facebook" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" name="submitBtn" value="Disconnect From Facebook"/>
</form>

</body>
</html>